@namespace Wadatsumi.Jinja.Pages
@page "/Jinja/Theory/{ID:int}"

@inject Data.JinjaDbContext jinjadb
@inject NavigationManager navigation
@using Radzen.Blazor

@code
{
    [Parameter]
    public int ID { get; set; }
    private Data.Theory Theory { get; set; }
    private string ArticleText { get; set; }

    protected override void OnParametersSet()
    {
        Theory = jinjadb.TheoryDbSet.Find(ID);
        ArticleText = Theory.LoadArticle();
        base.OnParametersSet();
    }
}

<h2>@Theory.Title</h2>
<br>
<h3>関連項目</h3>
<RadzenAccordion Multiple="true">
    <Items>
        <RadzenAccordionItem Text="関連神社">
            <RadzenGrid TItem="Data.TheoryRelation"
                        Data="Theory.ReferenceList.Where(r => r.Jinja != null)">
                <Columns>
                    <RadzenGridColumn TItem="Data.TheoryRelation"
                                      TextAlign="Radzen.TextAlign.Left">
                        <Template Context="r">@r.Jinja.Name</Template>
                    </RadzenGridColumn>
                </Columns>
            </RadzenGrid>
        </RadzenAccordionItem>

        <RadzenAccordionItem Text="関連神">
            <RadzenGrid TItem="Data.TheoryRelation"
                        Data="Theory.ReferenceList.Where(r => r.Kami != null)">
                <Columns>
                    <RadzenGridColumn TItem="Data.TheoryRelation"
                                      TextAlign="Radzen.TextAlign.Left">
                        <Template Context="r">@r.Kami.ShinmeiList.First().Name</Template>
                    </RadzenGridColumn>
                </Columns>
            </RadzenGrid>

        </RadzenAccordionItem>
    </Items>
</RadzenAccordion>
<RadzenHtml>@((MarkupString)ArticleText)</RadzenHtml>
<br />
<br />

<RadzenButton Click="@(args => navigation.NavigateTo(Data.PathDefine.TheoryEditUrl(Theory.ID)))">編集</RadzenButton>
