<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Wadatsumi</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <br />
    <h3 style="color:white">　神社</h3>
    <NavLink class="nav-link" href="@Jinja.Data.PathDefine.JinjaListUrl">神社一覧</NavLink>
    <NavLink class="nav-link" href="@Jinja.Data.PathDefine.JinjaNewUrl">神社追加</NavLink>
    <br />
    <h3 style="color:white">　神</h3>
    <NavLink class="nav-link" href="@Jinja.Data.PathDefine.KamiListUrl">神一覧</NavLink>
    <NavLink class="nav-link" href="@Jinja.Data.PathDefine.KamiNewUrl">神追加</NavLink>
    
    @*<ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
    </ul>*@
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
